* {
    margin: 0;
    font-family: sans-serif;
    border: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

.nav-address {
    margin-left: 40px;
}

.address1 {
    margin-left: 15px;
    font-size: 0.7rem;
    opacity: 0.8;
}

.address2 {
    display: flex;
    font-size: 0.85rem;
}

.add2text {
    margin-left: 5px;
}

.navsearch {
    display: flex;
    margin-left: 75px;
    height: 40px;
    width: 660px;
    justify-content: space-evenly;
    border-radius: 5px;
}

.searchbtn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;


}

.searchbar {
    width: 100%;
    border: none;
}

.searchicon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;

}




.navsearch:hover {
    border: 1px solid #febd68;
}

.navsignin {
    margin-left: 60px;
}

.navreturn {
    margin-left: 60px;
}

.text1 {
    font-size: 0.7rem;
}

.text2 {
    font-size: 0.85rem;

}

.navcart {
    display: flex;
    font-size: 0.85rem;
    margin-left: 40px;

}

.navcart i {
    font-size: 1.7rem;
    margin-left: 30px;
}

.carttext {
    margin-left: 2px;
    margin-top: 9px;
}

.panel {
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.panelall {
    display: flex;
    margin-left: 10px;
}

.panelall a {
    color: white;
}

.alltext {
    margin-left: 3px;
}

.panelopns {
    display: flex;
    margin-left: 25px;
    width: 70%;
    font-size: 0.85rem;
}

.panelopns a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
}

.paneldeals a {
    color: white;
}

.paneldeals:hover {
    text-decoration: underline;

}


.herosection {
    background-image: url("hero_image.jpg");
    height: 350px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heromsg {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    width: 80%;
}

.heromsg a {
    text-decoration: none;
    color: #007185;
}

.shopsection1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.shopsection2 {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}

.boximg {
    height: 300px;
    background-size: cover;
    margin-top: 16px;
    margin-bottom: 16px;
}

.boxcontent {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    margin-top: 15px;
}

.footpanel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footpanel1 a {
    color: white;
}

.footpanel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
.footpanel2 a{
    color: white;

}
.footpanel2 a:hover{
    text-decoration: underline;
}


ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #ddddd;
}

.footpanel3 {
    background-color: #222f3d;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
}

.footpanel4 {
    background-color: #222f3d;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 0.85rem;

}

.pages a {

    margin-right: 20px;
}

.copyrights {
    margin-top: 10px;
}